.App {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: Cambria, Georgia, serif;
}

.css-1wc848c-MuiFormHelperText-root.Mui-error {
  margin-left: 62px!important;
}

.input-room input {
  color: #ffffff;
}

.input-room {
  width: 100%;
}

::-webkit-scrollbar {
  width: 7.5px;
}

::-webkit-scrollbar-track {
  background: #c9c9c9;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.ant-modal-header {
  background-color: #1890ff;
}

.ant-modal-body,
.ant-modal-footer,
.ant-drawer-header,
.ant-drawer-body {
  background-color: #E3F6FC;
}

.ant-input-group-wrapper .ant-input-group-addon {
  border-radius: 14px 0px 0px 14px;
}

.ant-input-group-wrapper .ant-input {
  border-radius: 0px 14px 14px 0px;
}

.ant-modal-title {
  color: #FDFDFE;
  font: 30px Poppins;
  font-weight: 600;
}

.ant-tabs-nav-wrap {
  justify-content: center;
}

.zoom {
  transform: translate(-50%, -50%);
  z-index: 999;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90% !important;
  height: 90% !important;
  object-fit: contain !important;
  margin:0px !important;
}

.zoom::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}