.App {
  width: 100%;
  height: 100%;
  /* background: linear-gradient(225deg, rgba(231,189,110,1) 0%, rgba(84,143,198,0.46) 100%); */
  background: #E5E5E5;
  overflow-y: hidden; 
  overflow-x: hidden; 
  padding: 10px;
}

.input-room input {
  color: #ffffff;
}

.input-room {
  width: 100%;
}

::-webkit-scrollbar {
  width: 7.5px;
}

::-webkit-scrollbar-track {
  background: #c9c9c9;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px;
}

.ant-modal-header {
  background-color: #1890ff;
}

.ant-modal-title {
  color: #FDFDFE;
  font: 30px Poppins;
  font-weight: 600;
}

.ant-drawer-header {
  background-color: #E3F6FC;
}

.ant-drawer-body{
  background-color: #E3F6FC;
}